.container {
  height: 500px
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}
.table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
.container h2 {
  padding: 10px 0px 0px 10px;
}
.container tr {
  border-bottom: 1px solid grey;
  font-weight: 600;
}
.th {
  color: #fc692f;
}
.container svg {
  margin: 5px;
  cursor: pointer;
}
input::-webkit-calendar-picker-indicator {
  cursor: pointer;
}
.addButton {
  margin-top: 30px;
  margin-left: 90%;
  font-size: 40px;
  border: none;
  text-align: right;
  background-color: transparent;
  color: #fc692f;
  cursor: pointer;
}
.section {
  width: 90%;
  margin: auto;
  margin-top: 8%;
  box-shadow: -5px 7px 8px rgba(139, 139, 139, 0.432),
              5px 0px 8px rgba(139, 139, 139, 0.432);
}
.loader {
  justify-content: center;
  align-self: center;
  position: flex;
  margin: auto;
  margin-top: 20px;
  width: 20px;
  height: 20px;
  border: 5px solid #c5c5c5;
  border-top: 5px solid #FC6225;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}