.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  background-color: #232f3e;
  color: white;
  font-size: 20px;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  background-color: white;
}

.message,
.title {
  padding: 20px;
}

.message {
  font-size: 15px;
}

.btnContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  width: 40%;
}

.btn {
  padding: 10px 40px;
  border: none;
  border-radius: 3px;
  background-color: #232f3e;
  color: white;
  cursor: pointer;
}
