.container {
  display: flex;
  flex-direction: column;
  margin: 5em 10em;
}

.containerFields {
  display: flex;
  flex-direction: column;
}

.removeButton > :only-child {
  margin-left: 600px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0.1em solid #888888;
  background-color: #FFFFFF;
}

.form h3 {
  text-align: center;
  margin: 30px 0;
}

.form select, .form input {
  margin: 0.8em 0;
}

.header {
  display: flex;
  margin-bottom: 20px;
  height: 5em;
  background-color: #232F3E;
  font-size: 20px;
}

.title {
  margin: auto;
  color: #FFFFFF;
  font-size: 20px;
}

.fields {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}

.columns {
  margin: 0 20px;
  font-weight: bold;
}

.button {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 40px;
}

.removeButton {
  display: flex;
  justify-content: flex-start;
  margin: 5px auto;
}

.addButton {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}