.list {
  display: flex;
  flex-direction: row;
  margin: auto;
  border-bottom: 0.1em solid #c7c7c7;
  color: #232F3E;
}

.list li {
  width: 100px;
  list-style: none;
  font-weight: bold;
  font-size: 10px;
}

.list button {
  border-style: none;
  background-color: #ffffff;
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}