.container {
  display: flex;
  flex-direction: column;
  margin: 5em 10em;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0.1em solid #888888;
  background-color: #FFFFFF;
}

.form select, .form input {
  margin: 0.8em 0;
}

.header {
  display: flex;
  height: 5em;
  background-color: #232F3E;
  font-size: 20px;
}

.title {
  margin: auto;
  color: #FFFFFF;
  font-size: 20px;
}

.fields {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3em auto;
}

.columns {
  margin: 0 20px;
  font-weight: bold;
}

.dayColumns {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  width: 100px;
  font-size: 15px;
  font-weight: normal;
}

.dayColumns input {
  margin-right: 8px;
  width: 70px;
  height: 30px;
  font-size: 10px;
}

.button {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-bottom: 1em;
}