.container {
  display: flex;
  flex-direction: column;
  margin: 5em 10em;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0.1em solid #888888;
  background-color: #FFFFFF;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
  height: 5em;
  background-color: #232F3E;
}

.fields {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3em auto;
}

.columns {
  margin: 0 20px;
  font-weight: bold;
}

.button {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-bottom: 1em;
}

.title {
  margin: auto;
  font-size: 20px;
  color: #FFFFFF;
}

.form select, .form input {
  margin: 0.8em 0;
}



