.createButton {
  border-style: none;
  background-color: #fff;
  float: right;
  margin: 10px;
}

.createButton img {
  box-shadow: 1px 1px 8px rgba(139, 139, 139, 0.432);
  border-radius: 100px;
  cursor: pointer;
}