.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  margin: 30px auto;
  font-size: 30px;
}

.button {
  margin: auto;
  width: 20%;
  height: 20px;
  border: none;
  border-radius: 0.3em;
  background-color: #FC6225;
  color: #FFFFFF;
  cursor: pointer;
}