.list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  height: 3em;
  border-bottom: 0.1em solid #707070;
  color: #232F3E;
  /* color: #FC6225; */
}

.list li {
  flex: 1;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}



