.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.label {
  color: #232f3e;
}

.select {
  width: 24em;
  height: 3em;
}
.error {
  width: 24em;
  height: 3em;
  border: red solid 1.5px;
  border-radius: 5px;
}
.errorSpan {
  visibility: hidden;
}

.errorVisible {
  visibility: visible;
  color: red;
}