.container img {
  width: 100%;
}

.container {
  background-image: url('Images/img-home.jpg');
  background-color: #232F3E;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container h2 {
  text-align: center;
  color: white;
  background-color: #232f3ee3;
  font-size: 30px;
  padding: 20px;
}

.openJobs {
  margin: auto;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}

.openJobsDiv {
  background-color: #232f3eaf;
  width: 200px;
  height: 100%;
  margin: 50px auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 5px 7px 8px rgba(139, 139, 139, 0.432), -5px -2px 8px rgba(139, 139, 139, 0.26);
}

.clientName {
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}

.openJobsDiv span {
  color: #FC6225;
  padding-bottom: 5px;
}