.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  height: 80px;
  background-color: #FC6225;
}

.brand {
  font-weight: bold;
  font-size: 1rem;
}

.socialIcon {
  margin-left: 15px;
}

.navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  z-index: 1;
  background-color: #232F3E;
}

.routes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  list-style-type: none;
}

.routes > li > a {
  display: block;
  margin-top: 25px;
  margin-left: 20px;
  font-size: 18px;
  text-decoration: none;
  text-transform: capitalize;
  color: white;
}

.routes > li > a:hover {
  color: #FC6225;
}

.appName {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: #3E4855;
  padding: 20px 0px;
  border-bottom: 1px solid #a5a5a5;
}