.textAreaContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.textArea {
  margin: 0.8em 0;
  height: 107px;
  border: 1px solid gray;
  border-radius: 3px;
  box-sizing: border-box;
  background: white;
}
