.container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15% auto;
  padding-bottom: 1em;
  border: 0.1em solid #888888;
  width: 50%;
  height: 40%;
  background-color: #FFFFFF;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
  background-color: #232F3E;
  color: #FFFFFF;
}

.message {
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 2em;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-self: center;
}

.confirmButton {
  width: 24em;
  height: 3em;
  border: none;
  border-radius: 0.3em;
  background-color: #FC6225;
  color: #FFFFFF;
  cursor: pointer;
}

.cancelButton {
  width: 24em;
  height: 3em;
  border: none;
  border-radius: 0.3em;
  background-color: #232f3e;
  color: #FFFFFF;
  cursor: pointer;
}