.inputContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.input {
  background: white;
  height: 40px;
  border: 1px solid gray;
  border-radius: 3px;
  margin-bottom: 20px;
  cursor: pointer;
}