.inputContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 110px;
}

.input {
  height: 30px;
  border: 1px solid gray;
  border-radius: 3px;
  background: white;
  cursor: pointer;
}
.error {
  height: 30px;
  border: 1px solid red ;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}
.errorSpan {
  visibility: hidden;
  border-bottom: 5px;
}

.errorVisible {
  margin-bottom: 10px;
  visibility: visible;
  color: red;
  font-size: 14px;
}
