.inputContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 93px;
}

.input {
  height: 93px;
  border: 1px solid gray;
  border-radius: 3px;
  background: white;
  cursor: pointer;
}
.error {
  height: 93px;
  border: 1px solid red ;
  background: white;
  cursor: pointer;
}
.errorSpan {
  visibility: hidden;
  border-bottom: 5px;
}

.errorVisible {
  visibility: visible;
  color: red;
  margin-top: -2px;
  border-bottom: 5px;
}
