.message {
  position: fixed;
  top: 40%;
  left: 40%;
  width: 200px;
  height: 90px;
  background-color: #fff;
  border: 3px solid #232F3E;
  z-index: 1;
}

.message p {
  padding: 10px;
  text-align: center;
  color: #FC6225;
  font-size: 15px;
}