.table th, .table td {
  border-bottom: 1px solid #c5c5c5;
  padding: 13px;
}

.table th {
  color: #FC6225;
  font-size: 18px;
  font-weight: normal;
}

.table td {
  font-weight: bold;
  font-size: 15px;
  color: #232F3E;
}

.header {
  display: flex;
  justify-content: space-between;
}

.title {
  margin: 1em 0em 2em 1em;
  font-size: 30px;
  color: #232F3E;
}

.button {
  display: flex;
  justify-content:flex-end;
  margin: 5em 5em;
}
