.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FFFFFF;
  margin: 5% auto;
  border: 0.1em solid #888888;
  width: 70%;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 5em;
  background-color: #232F3E;
  padding-bottom: 1em;
}

.fields {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3em;
}

.columns {
  margin: 0 3em
}

.button {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-bottom: 1em;
}

.title {
  color: #FFFFFF;
  margin: 1.2em 0 0 1em;
}

select, input {
  margin: 0.8em 0;
}



